APP_NAME="Way Kopi"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://waykopi.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=waykopi
DB_USERNAME=postgres
DB_PASSWORD=

REDIS_HOST=cache
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_CONNECTION=redis

XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=

BITESHIP_API_KEY=biteship_test.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoid2F5a29waV90ZXN0IiwidXNlcklkIjoiNmE3MTUzMmVhODMxZjA2ZDY3M2Q0NWZjIiwiaWF0IjoxNzg2NTAzMDM4fQ.b93kfkhKMHyJoRaJU9VxeVsS5PrMZLpGhcj43Pr9t0Q
BITESHIP_ORIGIN_CONTACT_NAME="Way Kopi Roastery"
BITESHIP_ORIGIN_CONTACT_PHONE="081234567890"
BITESHIP_ORIGIN_ADDRESS="Jl. Raya Tajurhalang No. 12, Kab. Bogor, Jawa Barat"
BITESHIP_ORIGIN_NOTE="Dekat gerbang utama Way Kopi Roastery"
BITESHIP_ORIGIN_AREA_ID=IDNP6IDNC384IDND3355
BITESHIP_ORIGIN_POSTAL_CODE=16320
BITESHIP_ORIGIN_LATITUDE=-6.4714015
BITESHIP_ORIGIN_LONGITUDE=106.7453021
BITESHIP_WEBHOOK_SECRET=
BITESHIP_AUTO_CREATE_ORDER=true

WAHA_API_URL=http://waha:3000
WAHA_API_KEY=
WAHA_SESSION_NAME=default

FILESYSTEM_DISK=r2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
AWS_BUCKET=
AWS_ENDPOINT=
AWS_URL=
